<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'downloader/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 >YouTube Video Downloader</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Download</button>
        </form>

        {% if video %}
        <div id="videoInfo">
            <h2>{{ video.title }}</h2>
            <img src="{{ video.thumbnail_url }}" alt="Video Thumbnail">
            <p>Duration: {{ video.length }} seconds</p>
            <p>Views: {{ video.views }}</p>
            <p>Likes: {{ video.rating }}</p>

            <table>
                <thead>
                    <tr>
                        <th>Resolution</th>
                        <th>File Size</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in streams %}
                    <tr>
                        <td>{{ stream.resolution }}</td>
                        <td>{{ stream.filesize_mb }} MB</td>
                        <td><a href="{% url 'download' stream.itag %}?url={{ video.watch_url }}">Download</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif error %}
        <div id="errorInfo">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
