<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'downloader/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Download video from Youtube 4k, 8k</h1>
        <form method="post" action="{% url 'download' %}">
            {% csrf_token %}
            <input type="text" name="url" placeholder="Enter YouTube URL" required>
            <button type="submit">Download</button>
        </form>
    </div>
</body>
</html>
